.User_Label_Section {
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 107px;
  }
  
  .user_Name {
    font-size: larger;
    font-weight: 700;
  }

.date-label {
  margin: auto;
}