<ion-content>
	<ion-item>
		<ion-label>
			<h2 class="font-w">{{ servicios.servicio }}</h2>
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-label>
			<h3>Razón social</h3>
			<p class="text-wrap">{{servicios.razon_social}}</p>
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-label>
			<h3>Teléfono</h3>
			<p>{{servicios.telefono}}</p>
		</ion-label>
	</ion-item>
	

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear">
          
          <ion-button>
            <ion-icon slot="end" name="logo-whatsapp" color="light"></ion-icon>
            Whatsapp
          </ion-button>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear">
          
          <ion-button>
            <ion-icon name="call-outline" color="light" slot="end"></ion-icon>
            Llamar ahora!
          </ion-button>

        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

	
	<!-- <ion-card>
		<ion-card-header>
			<ion-card-title>{{servicios.razon_social}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Awesome content
		</ion-card-content>
	  </ion-card> -->
</ion-content>