ion-content {
        --ion-background-color: #e1eaf0 !important;
}

ion-header {
        position: absolute;
        --ion-background-color: #e1eaf0  !important;
}

.banner-head {
        background-color: #e1eaf0  !important;
        opacity: 100;
        width: 120%;

}

.banner-head-logo {
        width: 90%;
        margin: auto;
        margin-top: 3%;
}

ion-toolbar {
        --ion-background-color: transparent !important;
        --opacity: 0 !important;
}

.warpform {
        margin-top: 70px !important;
}
ion-item{
        ion-input{
                color: #647b9d !important;
        }
}

.password-forgot {
        text-align: right;
        ion-button {
                font-size: 12px;
        }
}

ion-card {
        --ion-background-color: transparent !important;
        box-shadow: none !important;
}

.login-title {
        text-align: center;
}

.login-title-header {
        text-align: center;
        color: #e1eaf0;
        margin-top: 10%;
        font-size: 180%;
        font-family:'Times New Roman', Times, serif;
}

.register{
        text-align: center;
        margin: auto;
        margin-left: 17%;
        font-size: 120%;
}

/* // Estilos para pantallas grandes */
@media (min-width: 1200px) {
        .banner-head {
                display: none;
        }
        .login-title{
                margin-top: 10%;
        }
        .ion-no-border {
                background-color: #2660b6;
        }
      }
      
      /* // Estilos para pantallas medianas */
      @media (max-width: 1199px) {
        .ion-no-border {
                display: none;
        }
      }
      
      /* // Estilos para pantallas pequeñas */
      @media (max-width: 767px) {
        .ion-no-border {
                display: none;
        }
      }
