<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Notificaciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
      <ion-list>
        <ion-card>
          <ion-item class="">
            <ion-avatar slot="start">
              <ion-img src="https://w7.pngwing.com/pngs/3/196/png-transparent-newsletter-logo-publishing-information-marketing-email-orange-logo-publishing.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Publicacion nueva!</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- ---------------------- -->
        <ion-card>
          <ion-item class="">
            <ion-avatar slot="start">
              <ion-img src="https://cdn-icons-png.flaticon.com/512/2907/2907150.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Reservación lista!</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- --------------------------- -->
        <ion-card>
          <ion-item class="">
            <ion-avatar slot="start">
              <ion-img src="https://w7.pngwing.com/pngs/3/196/png-transparent-newsletter-logo-publishing-information-marketing-email-orange-logo-publishing.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Publicacion nueva!</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- ---------------------- -->
        <ion-card>
          <ion-item class="">
            <ion-avatar slot="start">
              <ion-img src="https://cdn-icons-png.flaticon.com/512/2907/2907150.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Reservación lista!</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- --------------------------- -->
      </ion-list>
</ion-content>